* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  padding-top: 3rem;
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2 {
  color: #28283d;
}
.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 118px;
}
.hero-section {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr, 1fr;
  gap: 1rem;
  row-gap: 2.5rem;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 3rem auto;
}

.left-avatars,
.right-avatars {
  width: 115%;
  height: 100%;
  transition: width 0.3s ease;
}
.left-avatars {
  justify-self: flex-end;
}
.right-avatars {
  justify-self: flex-start;
}
.hero-section .text-content {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-inline: auto;
}
.hero-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.5rem;
  margin-inline: 3rem;
  font-weight: 900;
  max-width: 280px;
}
.hero-description {
  margin-inline: 2rem;
  font-size: 16px;
  color: #87879d;
  font-weight: 600;
  max-width: 448px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.download-button,
.discover-button {
  font-size: 16px;
  color: #fafafa;
  font-weight: 700;
  border: none;
  height: 56px;
  border-radius: 29px;
}
.download-button {
  background-color: #4d96a9;
  width: 193px;
}
.discover-button {
  background-color: #855fb1;
  width: 161px;
}
.hero-section .version {
  color: #8fe3f9;
}
.main-section {
  display: flex;
  flex-direction: column;
}
.page-number {
  height: 136px;
  width: 56px;
  margin: 4rem auto 0rem auto;
}
.one {
  margin: 4rem auto;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding-inline: 2rem;
  margin-bottom: 4rem;
  margin-inline: auto;
  width: 100%;
  justify-items: center;
}
.group-image {
  border-radius: 0.5rem;
  margin-inline: auto;
  width: 100%;
  height: auto;
}
.main-section .text-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-subtitle {
  color: #4d96a9;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
}
.main-title {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem auto 2rem auto;
  max-width: 420px;
}

.main-description {
  font-size: 16px;
  color: #87879d;
  font-weight: 600;
  max-width: 504px;
}

.footer {
  background-image: linear-gradient(
      hsl(195, 37%, 48%, 0.8),
      hsl(195, 37%, 48%, 0.8)
    ),
    url(./assets/desktop/image-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  margin-top: -28px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.footer-title {
  font-size: 2rem;
  font-weight: 900;
  color: #fafafa;
  max-width: 480px;
}
.footer-description {
  margin-inline: auto;
  font-size: 16px;
  color: #fafafa;
  font-weight: 600;
  max-width: 500px;
}

.footer .download-button {
  background-color: #855fb1;
  width: 193px;
}
.discover-button:hover,
.footer .download-button:hover {
  background-color: #b18bdd;
}
.hero-section .download-button:hover {
  background-color: #71c0d4;
}

.footer .version {
  color: #d9b8ff;
}

@media (min-width: 376px) {
  .left-avatars,
  .right-avatars {
    width: 110%;
  }
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
  .image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .hero-title {
    font-size: 48px;
    max-width: 340px;
  }
  .main-title,
  .footer-title {
    font-size: 36px;
  }
  .hero-description {
    max-width: 420px;
  }
}
@media (min-width: 1024px) {
  .image-container {
    padding-inline: 80px;
  }
  .hero-section {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    align-items: center;
  }
  .left-avatars {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
    height: auto;
  }

  .text-content {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    width: 100%;
  }
  .hero-title {
    font-size: 64px;
    margin: 0;
    max-width: 420px;
  }

  .right-avatars {
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    height: auto;
  }

  .footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 112px 80px;
  }

  .footer-title {
    text-align: start;
    width: 350px;
  }
  .footer-description {
    text-align: start;
    width: 350px;
  }
}
