* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  padding-top: 3rem;
  font-family: "Red Hat Display", sans-serif;
}
h1,
h2 {
  color: #28283d;
}
.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 118px;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.avatars {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 375px;
  overflow-x: hidden;
  margin: 3rem auto;
}

.left-avatars,
.right-avatars {
  height: 10rem;
  width: auto;
}
.hero-section .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.5rem;
  margin: 0 3rem;
  font-weight: 900;
}
.hero-description {
  margin: 1.5rem 2rem;
  font-size: 16px;
  color: #87879d;
  font-weight: 600;
}
.download-button,
.discover-button {
  font-size: 16px;
  color: #fafafa;
  font-weight: 700;
}
.download-button {
  border: none;
  background-color: #4d96a9;
  border-radius: 29px;
  width: 193px;
  height: 56px;
}
.discover-button {
  border: none;
  background-color: #855fb1;
  border-radius: 29px;
  width: 161px;
  height: 56px;
  margin-top: 1rem;
}
.page-number {
  height: 136px;
  width: 56px;
  margin: 4rem auto 0rem auto;
}
.one {
  margin: 4rem auto;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding-inline: 2rem;
  margin-bottom: 4rem;
}
.group-image {
  border-radius: 0.5rem;
  height: 144px;
  width: auto;
}
.main-section .text-content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-subtitle {
  color: #4d96a9;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
}
.main-title {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem auto 2rem auto;
}

.main-description {
  font-size: 16px;
  color: #87879d;
  font-weight: 600;
}
.footer {
  background-image: linear-gradient(
      hsl(195, 37%, 48%, 0.8),
      hsl(195, 37%, 48%, 0.8)
    ),
    url(./assets/desktop/image-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  margin-top: -28px;
  height: 374px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-title {
  font-size: 2rem;
  font-weight: 900;
  color: #fafafa;
}
.footer-description {
  margin: 1.5rem auto;
  font-size: 16px;
  color: #fafafa;
  font-weight: 600;
}

footer .download-button {
  background-color: #855fb1;
}
